body {
  box-sizing: border-box;
}
.map-container {
  margin-bottom: 20px;
}

.frame-container {
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 768px) {
.frame-container {
  width: 350px;
  height: 400px;
  margin: 5px;
}

.map-container {
  margin-bottom: 0px;
}

}