/*  _____________________________________ Custom colours and fonts _____________________________________ */

:root {
  --darkgreen: #2e5a1e;
  --mediumgreen: #387327;
  --lightergreen: #428229;
  --offwhite: #faf9f6;
}

@font-face {
  font-family: customFont-h1;
  src: url("assets/SmashWallPersonalUse-rg30A.ttf");
}

@font-face {
  font-family: customFont-p;
  src: url("assets/hulk.ttf");
}

/*  _____________________________________ Main _____________________________________ */

body {
  background: url('./assets/images/hulk-background.jpg');
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.content-class {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.landing-title {
  font-family: customFont-h1;
  color: var(--mediumgreen);
  font-weight: 900;
  font-size: 3rem;
}

.landing-page-copy,
.menu-copy,
.contact-copy {
  color: var(--offwhite);
  font-family: customFont-p;
  font-weight: 900;
  font-size: 1.2rem;
}

